@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Shared/_Layout.cshtml";
}

<section>
    <div class="container">
        <h1>Current Spot: </h1>
        <table class="spots table">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Category</th>
                <th>Lat</th>
                <th>Long</th>
                <th>CheckIns</th>
                <th>Direction</th>
                <th style="text-align: right">Optimal</th>
            </tr>
            <tr class="">
                <td>{{currentSpot.Id}}</td>
                <td>{{currentSpot.Name}}</td>
                <td>{{currentSpot.Category}}</td>
                <td>{{currentSpot.Latitude}}</td>
                <td>{{currentSpot.Longitude}}</td>
                <td>{{currentSpot.CheckIns}}</td>
                <td>{{currentSpot.OptimalWindDirectionList}}</td>
                <td align="right">{{currentSpot.IsSpotOptimal}}</td>
            </tr>
        </table>


        <br/>
        <br/>
        <br/>
        <br/>
        <h1>The list</h1>
        <table class="spots table">
            <tr>
                <th>ID</th>
                <th>Image</th>
                <th>Name</th>
                <th>Category</th>
                <th>Lat</th>
                <th>Long</th>
                <th>Distance</th>
                <th>Direction</th>
                <th style="text-align: right">Optimal</th>
            </tr>
            <tr class="" data-ng-repeat="spot in spots | orderBy : 'Distance'">
                <td>{{spot.Id}}</td>
                <td style="max-width: 50px; word-wrap: break-word;"><img width="100%;" ng-src="{{spot.Image}}?width=50" alt=""/></td>
                <td>{{spot.Name}}</td>
                <td>{{spot.Category}}</td>
                <td>{{spot.Latitude}}</td>
                <td>{{spot.Longitude}}</td>
                <td>{{spot.Distance}}km</td>
                <td>{{spot.OptimalWindDirectionList}}</td>
                <td align="right">{{spot.IsSpotOptimal}}</td>
            </tr>
        </table>
    </div>
</section>