<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT Master ANY>
<!ATTLIST Master id ID #REQUIRED>
<!ELEMENT Site ANY>
<!ATTLIST Site id ID #REQUIRED>
<!ELEMENT Spots ANY>
<!ATTLIST Spots id ID #REQUIRED>
<!ELEMENT Spot ANY>
<!ATTLIST Spot id ID #REQUIRED>
<!ELEMENT SpotFolder ANY>
<!ATTLIST SpotFolder id ID #REQUIRED>
<!ELEMENT kiteSpot ANY>
<!ATTLIST kiteSpot id ID #REQUIRED>
<!ELEMENT cableSpot ANY>
<!ATTLIST cableSpot id ID #REQUIRED>
]>
<root id="-1">
  <Site id="1053" key="7b2eaa3e-b73b-435b-b5f4-e9bd33b39acb" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2015-11-08T13:42:15" updateDate="2016-12-10T10:54:33" nodeName="Spots.dk" urlName="spotsdk" path="-1,1053" isDoc="" nodeType="1048" creatorName="Rasmus Thyssen" writerName="Rasmus Thyssen" writerID="0" template="1047" nodeTypeAlias="Site">
    <umbracoNaviHide>0</umbracoNaviHide>
    <Spots id="1054" key="fb215ea0-aeb9-4c5e-bcdb-33c76cba8f10" parentID="1053" level="2" creatorID="0" sortOrder="0" createDate="2015-11-08T13:42:32" updateDate="2016-12-10T10:54:33" nodeName="Spots" urlName="spots" path="-1,1053,1054" isDoc="" nodeType="1050" creatorName="Rasmus Thyssen" writerName="Rasmus Thyssen" writerID="0" template="1049" nodeTypeAlias="Spots">
      <umbracoNaviHide>0</umbracoNaviHide>
      <SpotFolder id="1079" key="76b0eaf2-8752-4b6c-9488-595c15aa9ff7" parentID="1054" level="3" creatorID="0" sortOrder="9" createDate="2016-11-01T17:30:13" updateDate="2016-12-10T10:54:33" nodeName="Kite Spots" urlName="kite-spots" path="-1,1053,1054,1079" isDoc="" nodeType="1078" creatorName="Rasmus Thyssen" writerName="Rasmus Thyssen" writerID="0" template="1051" nodeTypeAlias="SpotFolder">
        <umbracoNaviHide>0</umbracoNaviHide>
        <SpotFolder id="1085" key="d1863e6a-c681-4df9-b7bf-274bf3d4dff5" parentID="1079" level="4" creatorID="0" sortOrder="3" createDate="2017-05-20T16:19:03" updateDate="2017-05-20T16:19:03" nodeName="Denmark" urlName="denmark" path="-1,1053,1054,1079,1085" isDoc="" nodeType="1078" creatorName="Rasmus Thyssen" writerName="Rasmus Thyssen" writerID="0" template="1051" nodeTypeAlias="SpotFolder">
          <umbracoNaviHide>0</umbracoNaviHide>
          <SpotFolder id="1088" key="49547634-7292-4f1e-8da8-9bed25c4af5f" parentID="1085" level="5" creatorID="0" sortOrder="0" createDate="2017-05-20T16:20:21" updateDate="2017-05-20T16:21:16" nodeName="Jutland" urlName="jutland" path="-1,1053,1054,1079,1085,1088" isDoc="" nodeType="1078" creatorName="Rasmus Thyssen" writerName="Rasmus Thyssen" writerID="0" template="1051" nodeTypeAlias="SpotFolder">
            <umbracoNaviHide>0</umbracoNaviHide>
            <kiteSpot id="1055" key="4cedc3d2-9fcd-41b5-99e6-93455577cb3c" parentID="1088" level="6" creatorID="0" sortOrder="1" createDate="2015-11-08T13:42:49" updateDate="2017-06-14T14:33:01" nodeName="Borre Knob" urlName="borre-knob" path="-1,1053,1054,1079,1085,1088,1055" isDoc="" nodeType="1083" creatorName="Rasmus Thyssen" writerName="Rasmus Thyssen" writerID="0" template="0" nodeTypeAlias="kiteSpot">
              <umbracoNaviHide>0</umbracoNaviHide>
              <checkIns>1</checkIns>
              <lastCheckInDate>2017-06-14T14:33:01.7355445</lastCheckInDate>
              <weatherUrl><![CDATA[http://www.yr.no/place/Denmark/Central_Jutland/Borresknob/forecast.xml]]></weatherUrl>
              <latitude><![CDATA[55.829209]]></latitude>
              <Description><![CDATA[Et af det bedste spots i østjylland.
Men kun når vinden er i vest nord/vest

Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.]]></Description>
              <category><![CDATA[Kite]]></category>
              <Name><![CDATA[Borre Knob]]></Name>
              <image>1068</image>
              <longitude><![CDATA[10.013865]]></longitude>
              <optimalWindDirectionList><![CDATA[W,WNW,NW]]></optimalWindDirectionList>
              <optimalWaterHeight><![CDATA[100mm]]></optimalWaterHeight>
              <optimalWindSpeed><![CDATA[5]]></optimalWindSpeed>
              <optimalWindDirection><![CDATA[W]]></optimalWindDirection>
            </kiteSpot>
            <kiteSpot id="1058" key="88cca287-e233-47eb-99b3-8781d418c8a9" parentID="1088" level="6" creatorID="0" sortOrder="2" createDate="2015-12-05T08:22:17" updateDate="2017-06-14T14:00:34" nodeName="Øer" urlName="øer" path="-1,1053,1054,1079,1085,1088,1058" isDoc="" nodeType="1083" creatorName="Rasmus Thyssen" writerName="Rasmus Thyssen" writerID="0" template="0" nodeTypeAlias="kiteSpot">
              <umbracoNaviHide>0</umbracoNaviHide>
              <checkIns>0</checkIns>
              <lastCheckInDate>2016-12-09T00:00:00</lastCheckInDate>
              <weatherUrl><![CDATA[http://www.yr.no/place/Denmark/Central_Jutland/Øerne/forecast.xml]]></weatherUrl>
              <latitude><![CDATA[56.153059]]></latitude>
              <Description><![CDATA[Fladt vand dagen lang]]></Description>
              <category><![CDATA[Kite]]></category>
              <Name><![CDATA[Øer]]></Name>
              <longitude><![CDATA[10.672739]]></longitude>
              <optimalWindSpeed><![CDATA[6]]></optimalWindSpeed>
              <optimalWindDirection><![CDATA[S]]></optimalWindDirection>
            </kiteSpot>
          </SpotFolder>
          <SpotFolder id="1087" key="e1b2e3a4-f083-4ea5-8920-edf1b7459b34" parentID="1085" level="5" creatorID="0" sortOrder="1" createDate="2017-05-20T16:20:08" updateDate="2017-05-20T16:20:08" nodeName="Funen" urlName="funen" path="-1,1053,1054,1079,1085,1087" isDoc="" nodeType="1078" creatorName="Rasmus Thyssen" writerName="Rasmus Thyssen" writerID="0" template="1051" nodeTypeAlias="SpotFolder">
            <umbracoNaviHide>0</umbracoNaviHide>
          </SpotFolder>
          <SpotFolder id="1086" key="c3452c15-277f-4b01-90a4-0ab3af6d9d6a" parentID="1085" level="5" creatorID="0" sortOrder="2" createDate="2017-05-20T16:19:12" updateDate="2017-05-20T16:21:16" nodeName="Zealand" urlName="zealand" path="-1,1053,1054,1079,1085,1086" isDoc="" nodeType="1078" creatorName="Rasmus Thyssen" writerName="Rasmus Thyssen" writerID="0" template="1051" nodeTypeAlias="SpotFolder">
            <umbracoNaviHide>0</umbracoNaviHide>
          </SpotFolder>
        </SpotFolder>
      </SpotFolder>
      <SpotFolder id="1080" key="b1ceda94-6e54-4a55-be1b-8921f0b93cd5" parentID="1054" level="3" creatorID="0" sortOrder="10" createDate="2016-11-01T17:30:22" updateDate="2016-12-10T10:54:33" nodeName="Cable Spots" urlName="cable-spots" path="-1,1053,1054,1080" isDoc="" nodeType="1078" creatorName="Rasmus Thyssen" writerName="Rasmus Thyssen" writerID="0" template="1051" nodeTypeAlias="SpotFolder">
        <umbracoNaviHide>0</umbracoNaviHide>
        <cableSpot id="1056" key="ab54d5a9-f911-424b-82c2-821aca0f30d7" parentID="1080" level="4" creatorID="0" sortOrder="1" createDate="2015-11-08T13:43:05" updateDate="2017-05-20T16:06:55" nodeName="Hvide Sande" urlName="hvide-sande" path="-1,1053,1054,1080,1056" isDoc="" nodeType="1084" creatorName="Rasmus Thyssen" writerName="Rasmus Thyssen" writerID="0" template="0" nodeTypeAlias="cableSpot">
          <umbracoNaviHide>0</umbracoNaviHide>
          <weatherUrl><![CDATA[http://www.yr.no/place/Denmark/Central_Jutland/Hvide_Sande/]]></weatherUrl>
          <latitude><![CDATA[56.018636]]></latitude>
          <Description><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.]]></Description>
          <category><![CDATA[Cable]]></category>
          <Name><![CDATA[Hvide Sande Kabelpark]]></Name>
          <longitude><![CDATA[8.130326]]></longitude>
          <optimalWindSpeed><![CDATA[2]]></optimalWindSpeed>
          <optimalWindDirection><![CDATA[W]]></optimalWindDirection>
        </cableSpot>
        <cableSpot id="1060" key="0bc0da8d-14a0-4898-8719-edecfcd61aec" parentID="1080" level="4" creatorID="0" sortOrder="2" createDate="2016-05-26T10:34:31" updateDate="2017-05-20T16:07:01" nodeName="Herning vandski og wakeboard klub" urlName="herning-vandski-og-wakeboard-klub" path="-1,1053,1054,1080,1060" isDoc="" nodeType="1084" creatorName="Rasmus Thyssen" writerName="Rasmus Thyssen" writerID="0" template="0" nodeTypeAlias="cableSpot">
          <umbracoNaviHide>0</umbracoNaviHide>
          <weatherUrl><![CDATA[http://www.yr.no/place/Denmark/Central_Jutland/Herning/]]></weatherUrl>
          <category><![CDATA[Cable]]></category>
          <Name><![CDATA[Herning vandski og wakeboard klub midt i Jylland i Danmark med længere tekst end normalt]]></Name>
          <optimalWindSpeed><![CDATA[5]]></optimalWindSpeed>
          <optimalWindDirection><![CDATA[E]]></optimalWindDirection>
          <facebookUrl><![CDATA[https://www.facebook.com/hvwk.dk/]]></facebookUrl>
          <websiteUrl><![CDATA[http://www.herningvandski.dk/]]></websiteUrl>
        </cableSpot>
        <cableSpot id="1061" key="a73f9dfa-f095-4e63-8cda-dec81a1d247e" parentID="1080" level="4" creatorID="0" sortOrder="3" createDate="2016-05-26T10:35:05" updateDate="2017-05-20T16:07:57" nodeName="WaWaCo" urlName="wawaco" path="-1,1053,1054,1080,1061" isDoc="" nodeType="1084" creatorName="Rasmus Thyssen" writerName="Rasmus Thyssen" writerID="0" template="0" nodeTypeAlias="cableSpot">
          <umbracoNaviHide>0</umbracoNaviHide>
          <checkIns>2</checkIns>
          <lastCheckInDate>2016-11-01T00:00:00</lastCheckInDate>
          <weatherUrl><![CDATA[http://www.yr.no/place/Germany/Schleswig-Holstein/Wangels/]]></weatherUrl>
          <latitude><![CDATA[54.306918]]></latitude>
          <category><![CDATA[Cable]]></category>
          <Name><![CDATA[WaWaCo]]></Name>
          <longitude><![CDATA[10.792185]]></longitude>
          <optimalWindSpeed><![CDATA[8]]></optimalWindSpeed>
          <optimalWindDirection><![CDATA[w]]></optimalWindDirection>
          <websiteUrl><![CDATA[https://www.weissenhaeuserstrand.de/attraktionen/wawaco/info/]]></websiteUrl>
        </cableSpot>
        <cableSpot id="1073" key="894fa655-ca1e-48f9-b28b-e16a37dd1882" parentID="1080" level="4" creatorID="0" sortOrder="4" createDate="2016-07-18T08:41:03" updateDate="2017-05-20T16:08:09" nodeName="Aalborg Cable Park" urlName="aalborg-cable-park" path="-1,1053,1054,1080,1073" isDoc="" nodeType="1084" creatorName="Rasmus Thyssen" writerName="Rasmus Thyssen" writerID="0" template="0" nodeTypeAlias="cableSpot">
          <umbracoNaviHide>0</umbracoNaviHide>
          <checkIns>1</checkIns>
          <lastCheckInDate>2016-12-07T00:00:00</lastCheckInDate>
          <latitude><![CDATA[57.047594]]></latitude>
          <Description><![CDATA[Beddingen 5, 9000 Aalborg
aalborgcablepark.dk]]></Description>
          <category><![CDATA[Cable]]></category>
          <Name><![CDATA[ACP - Aalborg Cable Park]]></Name>
          <image>1074</image>
          <longitude><![CDATA[9.942350]]></longitude>
          <optimalWindSpeed><![CDATA[3]]></optimalWindSpeed>
          <optimalWindDirection><![CDATA[E]]></optimalWindDirection>
        </cableSpot>
        <cableSpot id="1075" key="defd808b-8b74-4b8d-8e53-76bad6375445" parentID="1080" level="4" creatorID="0" sortOrder="5" createDate="2016-07-18T08:45:45" updateDate="2017-05-20T16:08:18" nodeName="Thy Cable Park" urlName="thy-cable-park" path="-1,1053,1054,1080,1075" isDoc="" nodeType="1084" creatorName="Rasmus Thyssen" writerName="Rasmus Thyssen" writerID="0" template="0" nodeTypeAlias="cableSpot">
          <umbracoNaviHide>0</umbracoNaviHide>
          <checkIns>2</checkIns>
          <lastCheckInDate>2016-12-07T00:00:00</lastCheckInDate>
          <latitude><![CDATA[56.950134]]></latitude>
          <Description><![CDATA[Vibedalvej, Thisted]]></Description>
          <category><![CDATA[Cable]]></category>
          <Name><![CDATA[Thy cablepark - Cold Hawaii Inland]]></Name>
          <image>1076</image>
          <longitude><![CDATA[8.722213]]></longitude>
          <optimalWindSpeed><![CDATA[5]]></optimalWindSpeed>
          <optimalWindDirection><![CDATA[N]]></optimalWindDirection>
        </cableSpot>
      </SpotFolder>
    </Spots>
  </Site>
</root>