<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT Master ANY>
<!ATTLIST Master id ID #REQUIRED>
<!ELEMENT Site ANY>
<!ATTLIST Site id ID #REQUIRED>
<!ELEMENT Spot ANY>
<!ATTLIST Spot id ID #REQUIRED>
<!ELEMENT Spots ANY>
<!ATTLIST Spots id ID #REQUIRED>

]>
<root id="-1">
  <Site id="1053" key="7b2eaa3e-b73b-435b-b5f4-e9bd33b39acb" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2015-11-08T13:42:15" updateDate="2015-11-08T13:42:15" nodeName="Spots.dk" urlName="spotsdk" path="-1,1053" isDoc="" nodeType="1048" creatorName="Rasmus Thyssen" writerName="Rasmus Thyssen" writerID="0" template="1047" nodeTypeAlias="Site">
    <umbracoNaviHide>0</umbracoNaviHide>
    <Spots id="1054" key="fb215ea0-aeb9-4c5e-bcdb-33c76cba8f10" parentID="1053" level="2" creatorID="0" sortOrder="0" createDate="2015-11-08T13:42:32" updateDate="2015-11-08T13:42:32" nodeName="Spots" urlName="spots" path="-1,1053,1054" isDoc="" nodeType="1050" creatorName="Rasmus Thyssen" writerName="Rasmus Thyssen" writerID="0" template="1049" nodeTypeAlias="Spots">
      <umbracoNaviHide>0</umbracoNaviHide>
      <Spot id="1058" key="88cca287-e233-47eb-99b3-8781d418c8a9" parentID="1054" level="3" creatorID="0" sortOrder="0" createDate="2015-12-05T08:22:17" updateDate="2016-05-31T20:22:28" nodeName="Øer" urlName="øer" path="-1,1053,1054,1058" isDoc="" nodeType="1052" creatorName="Rasmus Thyssen" writerName="Rasmus Thyssen" writerID="0" template="1051" nodeTypeAlias="Spot">
        <umbracoNaviHide>0</umbracoNaviHide>
        <latitude><![CDATA[56.153059]]></latitude>
        <Description><![CDATA[Fladt vand dagen lang]]></Description>
        <Name><![CDATA[Øer]]></Name>
        <longitude><![CDATA[10.672739]]></longitude>
      </Spot>
      <Spot id="1055" key="4cedc3d2-9fcd-41b5-99e6-93455577cb3c" parentID="1054" level="3" creatorID="0" sortOrder="1" createDate="2015-11-08T13:42:49" updateDate="2016-05-31T20:22:29" nodeName="Borre Knob" urlName="borre-knob" path="-1,1053,1054,1055" isDoc="" nodeType="1052" creatorName="Rasmus Thyssen" writerName="Rasmus Thyssen" writerID="0" template="1051" nodeTypeAlias="Spot">
        <umbracoNaviHide>0</umbracoNaviHide>
        <latitude><![CDATA[55.829209]]></latitude>
        <Description><![CDATA[Et af det bedste spots i østjylland.
Men kun når vinden er i vest nord/vest

Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.]]></Description>
        <Name><![CDATA[Borre Knob]]></Name>
        <longitude><![CDATA[10.013865]]></longitude>
      </Spot>
      <Spot id="1056" key="ab54d5a9-f911-424b-82c2-821aca0f30d7" parentID="1054" level="3" creatorID="0" sortOrder="2" createDate="2015-11-08T13:43:05" updateDate="2016-05-14T14:29:31" nodeName="Hvide Sande" urlName="hvide-sande" path="-1,1053,1054,1056" isDoc="" nodeType="1052" creatorName="Rasmus Thyssen" writerName="Rasmus Thyssen" writerID="0" template="1051" nodeTypeAlias="Spot">
        <umbracoNaviHide>0</umbracoNaviHide>
        <latitude><![CDATA[56.018636]]></latitude>
        <Description><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.]]></Description>
        <Name><![CDATA[Hvide Sande Kabelpark]]></Name>
        <longitude><![CDATA[8.130326]]></longitude>
      </Spot>
      <Spot id="1057" key="4f798cd0-e406-462a-bc79-3c9d3e6e013d" parentID="1054" level="3" creatorID="0" sortOrder="3" createDate="2015-11-08T13:43:23" updateDate="2016-05-14T14:29:31" nodeName="AAC" urlName="aac" path="-1,1053,1054,1057" isDoc="" nodeType="1052" creatorName="Rasmus Thyssen" writerName="Rasmus Thyssen" writerID="0" template="1051" nodeTypeAlias="Spot">
        <umbracoNaviHide>0</umbracoNaviHide>
        <latitude><![CDATA[57.047715 ]]></latitude>
        <Name><![CDATA[Aalborg Cable Park]]></Name>
        <longitude><![CDATA[9.942354]]></longitude>
      </Spot>
      <Spot id="1059" key="577660f7-04da-4522-a6f8-d4ce8aaa62a8" parentID="1054" level="3" creatorID="0" sortOrder="4" createDate="2015-12-05T08:22:56" updateDate="2016-05-14T14:29:00" nodeName="Spot X" urlName="spot-x" path="-1,1053,1054,1059" isDoc="" nodeType="1052" creatorName="Rasmus Thyssen" writerName="Rasmus Thyssen" writerID="0" template="1051" nodeTypeAlias="Spot">
        <umbracoNaviHide>0</umbracoNaviHide>
        <latitude><![CDATA[36.017231]]></latitude>
        <Description><![CDATA[There is 7 Km of coast kitesurfing in Tarifa, between the beach at Valdevaqueros and Hurricane, so you can change your daily spot DEPENDING on the wind. Hurricane is best for a Levante wind as there is a big sandbank downwind.]]></Description>
        <Name><![CDATA[Tarifa]]></Name>
        <longitude><![CDATA[-5.607237]]></longitude>
      </Spot>
      <Spot id="1060" key="0bc0da8d-14a0-4898-8719-edecfcd61aec" parentID="1054" level="3" creatorID="0" sortOrder="5" createDate="2016-05-26T10:34:31" updateDate="2016-05-26T10:40:56" nodeName="Herning Cable Park" urlName="herning-cable-park" path="-1,1053,1054,1060" isDoc="" nodeType="1052" creatorName="Rasmus Thyssen" writerName="Rasmus Thyssen" writerID="0" template="1051" nodeTypeAlias="Spot">
        <umbracoNaviHide>0</umbracoNaviHide>
        <Name><![CDATA[Herning kabelpark og vandski klub]]></Name>
      </Spot>
      <Spot id="1061" key="a73f9dfa-f095-4e63-8cda-dec81a1d247e" parentID="1054" level="3" creatorID="0" sortOrder="6" createDate="2016-05-26T10:35:05" updateDate="2016-05-26T10:35:05" nodeName="WaWaCo" urlName="wawaco" path="-1,1053,1054,1061" isDoc="" nodeType="1052" creatorName="Rasmus Thyssen" writerName="Rasmus Thyssen" writerID="0" template="1051" nodeTypeAlias="Spot">
        <umbracoNaviHide>0</umbracoNaviHide>
        <latitude><![CDATA[54.306918]]></latitude>
        <Name><![CDATA[WaWaCo]]></Name>
        <longitude><![CDATA[10.792185]]></longitude>
      </Spot>
    </Spots>
  </Site>
</root>