@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Spots API</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!--[if lt IE 9]>
      <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body xmlns:ng="http://angularjs.org" data-ng-app="spots" data-ng-controller="mainController">

    <div class="wrapper">
        @RenderBody()
    </div>

    @*Frameworks*@
    <script src="~/Resources/scripts/jquery.min.js"></script>
    <script src="~/Resources/scripts/angular.min.js"></script>

    @*Angular*@
    <script src="~/App/spots.app.js"></script>
    <script src="~/App/Services/spots.service.js"></script>
    <script src="~/App/Controllers/main.controller.js"></script>
</body>
</html>